/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 */


/* Transaction Entry Section */

.entry-btn {
  border: 1px solid rgb(188, 185, 185);
  height: 70px;
  width: 50%;
  font-size: 2rem;
  background-color: rgb(136, 218, 136);
}



/* History Section */
.history-delete-btn {
  color: gray;
}

.history-item {
  background-color: rgb(240, 239, 239);
  margin: 30px;
  padding: 6px;
}

.history-item-btn:hover {
  border: 1px solid rgb(188, 185, 185);
}

.icon-edit {
  color: green;
}

.icon-delete {
  color: red;
}